.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.project

# Excutable binary
cloud_sql_proxy

# Build folder
build/*
out/*
src/main/webapp/assets/*
src/main/webapp/dist/*
.gradle/*

# Fronend dependency
src/web/app/node_modules/*

# Additional files to ignore
viz*.json
src/main/resources/application-prod.properties
.settings/*
.project

gradle/wrapper/gradle-wrapper.properties

package-lock.json

src/main/webapp/WEB-INF/appengine-web.xml
